<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Recipe -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.tu_bs.cs.isf.mbse.recipe.presentation.RecipeModelWizardID"
            name="%_UI_RecipeModelWizard_label"
            class="de.tu_bs.cs.isf.mbse.recipe.presentation.RecipeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RecipeModelFile.gif">
         <description>%_UI_RecipeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Recipe -->
      <editor
            id="de.tu_bs.cs.isf.mbse.recipe.presentation.RecipeEditorID"
            name="%_UI_RecipeEditor_label"
            icon="icons/full/obj16/RecipeModelFile.gif"
            extensions="recipe"
            class="de.tu_bs.cs.isf.mbse.recipe.presentation.RecipeEditor"
            contributorClass="de.tu_bs.cs.isf.mbse.recipe.presentation.RecipeActionBarContributor">
      </editor>
   </extension>

</plugin>
